# Paypal Client ID (must start with Next_Public)
NEXT_PUBLIC_PAYPAL_CLIENT_ID=AXJZ3V8cdUCKMTBrSLrGUq7nx9r6Wtb2qVQpFbvDD3eyvstitOSxtq5srLvACd9LcNCicZ5ckk96Bi-y

OPENAI_API_KEY=paste_your_openai_key_here

CASHAPP_CASHTAG=$RAP0379
